<p>Hello everyone!</p> 
    <p>Welcome to GeeksforGeeks</p> 
      
    <p>
        Translate this page in
        your preferred language:
    </p> 
      
    <div id="google_translate_element"></div> 
      
    
      
    <p>
        You can translate the content of this
        page by selecting a language in the
        select box.
    </p> 


</body>
</html>